input[type=text] {
     box-sizing: border-box;
     padding: 2px;
     margin: 0 auto;
     border-radius: 5px;
     display:grid;
     margin-bottom: 5px; 
     margin-top: 10px; 
}

button[type=submit] {
    background-color:rgb(111, 131, 132);
    width: 50px;
    height: 30px;
}

button[type=submit]:hover {
     background-color: black;
     color: white;
}